* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top right, #3775dd, #dc97dc);
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000;
}

.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50%;
  height: auto;
  background-color: rgba(236, 231, 231, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(101, 101, 101, 0.5);
}

h1 {
  margin: 0;
  padding: 20px 0 20px;
}